body {
    background-color: #bdecb6;
    background-image: url("cromabox-fondo-web.png");
}


#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.title_principal {
    text-align: center;
    text-decoration: underline;
    font-size: 25px;

}