<!DOCTYPE html>
<html lang="es">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>BANCA EN LINEA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>

        <ul id="navbar">
            <li><a href="/">INICIO</a></li>
            <li><a href="login/">INICIO DE SESION</a></li>
            <li><a href=”#”>CREAR CUENTA</a></li>
            <li><a href=”#”>VER CUENTAS</a></li>
            <li><a href=”#”>PAGO DE PLANILLA</a></li>
            <li><a href=”#”>CHEQUES</a></li>
            <li><a href=”#”>CONTACTO</a></li>
        </ul>

        <div class="title_principal">
            <h2>SERVICIO DE BANCA EN LINEA</h2>
        </div>

        {% block content %}
        {% endblock %}

    </body>
</html>